* {
    margin: 0;
    padding: 0;
}
.header {
    background-color: #f95454;
    padding-bottom: 20px;
    font-family: KyivTypeTitling;
}
#logo {
    width: 100px;
    height: auto;
    margin: 20px;
}
.head h3 {
    color: #e6eb54;
    font-size: 24px;
    font-family: KyivTypeTitling;
}

.picture {
    width: 100%;
    display: flex;
}

#wid {
  width: 50%;
  height: auto;
  margin: 0 auto; 
}

a {
    text-decoration: none;
    margin: 220px;
    color: #ffffff;
    font-family: KyivTypeTitling;
}
#auht, #bron {
    width: 135px;
    height: 40px;
    font-size: 16px;
    background-color: rgb(222, 200, 60);
    border: 0;
    border-radius: 10px;
    font-family: KyivTypeTitling;
}
.main {
    width: fit-content;
    margin: auto;
    padding-bottom: 100px;
    padding-top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 260px;
}   
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
}

.card img {
    width: 100%;
    max-width: 250px;
    margin-bottom: 15px;
}


h3, h1, p {
    font-family: KyivTypeTitling;
}
.cuh {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 250px;
    padding-bottom: 90px;
}


.carta h1 {
    margin: 50px;
    color: #131312;
    text-align: center;
}
.menu {
    width: 50%;
    height: 60px;
    margin: 30px;
    margin-right: 100px;
    text-align: center;
    font-size: 25px;
    background-color:rgb(242, 230, 243);
    border: 2px solid rgb(242, 230, 243);
    border-radius: 15px;
}
iframe {
    margin: 150px;
    padding-left: 150px;
}

.inner h1 {
    color:#131312 ;
    text-align: center;
    margin: 20px;
}
.col {
    margin: 30px;
    margin-top: 100px;
    border:2px solid rgb(222, 211, 211);
    border-radius: 15px;
    background-color: rgb(222, 211, 211);
}
.col img {
    width: 250px;
    height: auto;
    padding: 30px;
}
.footer {
    background-color: #2b2929;
    padding-bottom: 40px;
    color: #8a8484;
    text-align: center;
    padding-top: 20px;
    font-family: KyivTypeTitling;
}
.left img {
    margin: 20px;
    width: 500px;
    height: auto;
    padding: 30px;  
}
.text {
    margin: 40px;
}
@font-face {
    font-family: KyivTypeTitling;
    src: url(KyivTypeTitling-VarGX.ttf);
    font-weight: normal;
    font-style: normal;
}